{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'hello/todo.css' %}">

{% if todo_list %}
<h1>Todo List</h1>
<div id="todoList">
  {% for todo in todo_list %}
  <div class="todoItem {% if todo.is_complete %}complete{%endif%}">
    <label class="todoLabel">
      <input type="checkbox" {% if todo.is_complete %}checked{% endif %} value="{{todo.id}}" class="todoCheck" />
      <span class="checkmark"></span>
    </label>
    <div>{{ todo.todo_item }}</div>
    <span class="dueDate">{{ todo.due_date }}</span>
  </div>
  {% endfor %}
</div>
{% else %}
<p>No todos are available.</p>
{% endif %}